.footer {
    background-color: #332E55;
    width: 100%;
    height: 800px;
    font-size: 14px;
}

.listas-container {
    display: flex; 
    justify-content: space-around; 
    color: white;
    
    
}


.footerEmail{
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column; 
    width: 300px; 
    padding-left: 100px;
    padding-top: 40px;
    color: white;
    
}
.footerLogo{
    width: 293px;
    height: 277px;
    margin-top: 4rem;
    
}

.contenedorF{
    display: flex;
    justify-content: space-between;
    margin-right: 22rem;
}


.input-email{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;

    
    border: 2px solid #332E55; 
    border-radius: 40px;

    color: black;
}

.lista-enlaces{
    list-style-type: none;
}

.input-con-boton {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.input-email {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.boton-icono {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.boton-icono img {
    width: 20px; 
    height: 20px;
}

@media (max-width: 576px) {
    .listas-container {
        display: block;
    }

    .listas-container .list-footer {
        width: 65%; /* Ajusta el ancho para las listas en vista de escritorio */
    }
    .footer{
        width: 100%;
        height: 1000%;
    }

    .footerEmail{
        display: flex; 
        justify-content: flex-start; 
        flex-direction: column; 
        width: 100px; 
        padding-left: 5px;
        padding-top: 40px;
        color: white;
    }
    .footerLogo{
        width: 25%;
        height: 25%;
        margin-right: 2rem;
        
    }

  }

