<footer class="footer">
    <div class="listas-container">

        <div class="list-footer">
            <h2>Featured categories</h2>
            <ul class="lista-enlaces">
                <li><a>Inicio</a></li>
                <li><a>Sports</a></li>
                <li><a>Strategy</a></li>
                <li><a>Puzle</a></li>
                <li><a>Multiplayer</a></li>
            </ul>
        </div>

        <div class="list-footer">
            <h2>About Us</h2>
            <ul class="lista-contacto">
                <li><a>Who we are</a></li>
                <li><a>History</a></li>
                <li><a>Blog</a></li>
                <li><a>Empployment</a></li>
            </ul>
        </div>
        <div class="list-footer">
            <h2>Help</h2>
            <ul class="lista-enlaces">
                <li><a>Frequently Questions</a></li>
                <li><a>Contact</a></li>
                <li><a>Terms and conditions</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Report a problem</a></li>
            </ul>
        </div>
        <div class="list-footer">
            <h2>Social</h2>
            <ul class="lista-enlaces">
                <li><a>Facebook</a></li>
                <li><a>Twitter</a></li>
                <li><a>Instagram</a></li>
                <li><a>YouTube</a></li>
                <li><a>TikTok</a></li>
            </ul>
        </div>
        <div class="list-footer">
            <h2>Contact</h2>
            <ul class="lista-enlaces">
                <li><a>Email: soporte@gamingzone.com</a></li>
                <li><a>Phone:+34123456789</a></li>
                <li><a>Address:Calle Falsa 123, City Gotica, España</a></li>
            </ul>
        </div>
    </div>

    <div class="footerEmail">
        <h2>Subscribe o our newsletter</h2>
        <p>Don't miss any news.</p>
        <p>Subscribe to get early access to new games and exclusive promotions</p>
        <input class="input-email" type="email" placeholder="Enter your email">
    </div>

    <div class="footerLogo">
        <img src="https://www.figma.com/design/3RM5qeOelw5F4pV7jv0T5S/Interfaces-de-Usario?node-id=57-292&t=rAHeWebOuz9MMlXz-4" alt="">

    </div>
    


</footer>