<footer class="footer">
    <div class="listas-container">

        <div class="list-footer">
            <h2>Featured categories</h2>
            <ul class="lista-enlaces">
                <li><a>Inicio</a></li>
                <li><a>Sports</a></li>
                <li><a>Strategy</a></li>
                <li><a>Puzle</a></li>
                <li><a>Multiplayer</a></li>
            </ul>
        </div>

        <div class="list-footer">
            <h2>About Us</h2>
            <ul class="lista-contacto">
                <li><a>Who we are</a></li>
                <li><a>History</a></li>
                <li><a>Blog</a></li>
                <li><a>Empployment</a></li>
            </ul>
        </div>
        <div class="list-footer">
            <h2>Help</h2>
            <ul class="lista-enlaces">
                <li><a>Frequently Questions</a></li>
                <li><a>Contact</a></li>
                <li><a>Terms and conditions</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Report a problem</a></li>
            </ul>
        </div>
        <div class="list-footer">
            <h2>Social</h2>
            <ul class="lista-enlaces">
                <li><a>Facebook</a></li>
                <li><a>Twitter</a></li>
                <li><a>Instagram</a></li>
                <li><a>YouTube</a></li>
                <li><a>TikTok</a></li>
            </ul>
        </div>
        <div class="list-footer">
            <h2>Contact</h2>
            <ul class="lista-enlaces">
                <li><a>Email:</a></li>
                <li><a>Phone:</a></li>
                <li><a>Address:</a></li>
            </ul>
        </div>
    </div>

</footer>