.contenido{
    width: 800px;
    background-color: #6D658D;
    height: 100%;
}

.logo{
    padding-left: 46%;
}


.login{
    display: flex;
    flex-direction: column;
    text-align: center;

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.input-email , .input-password{
    box-sizing: border-box;

    /* Borde personalizado */
    border: 2px solid #332E55; /* Borde de 2px, color #332E55 */
    border-radius: 40px; /* Esquinas redondeadas */

    color: black;

    width: 500px;   
    height: 73px;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 25%;
}
.ancorRegister{
    text-decoration: none;
    color: #332E55;
    font-size: 16px;
    font-weight: bold;
}
.buttonLogin {
    padding: 10px 20px;
    background-color: #332E55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.redes{
    padding-left: 46%;
    height: 100%;
}

.logoRed{
    height: 48px;
    width: 48px;
}

.g-recaptcha{
    padding-left: 30%;
}

@media (max-width: 576px) {
    .contenido{
        width: 100%;
    }
    .input-email , .input-password{
        width: 100%;
    }
    .logo{
        padding-left: 42%;
    }

    .redes{
        padding-left: 40%;
        height: 100%;
    }
    .g-recaptcha{
        padding-left: 20%;
    }

  }