
.contenedorRegister {
    background-color: #6D658D;
    height: 100%;
    
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */   
}

.input-email , .input-password , .input-dato{
    box-sizing: border-box;

    /* Borde personalizado */
    border: 2px solid #332E55; /* Borde de 2px, color #332E55 */
    border-radius: 40px; /* Esquinas redondeadas */

    color: black;

    width: 500px;   
    height: 73px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: space-between;
}
.ancorRegister{
    text-decoration: none;
    color: #332E55;
    font-size: 16px;
    font-weight: bold;
}
.buttonRegister {
    padding: 10px 20px;
    background-color: #332E55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
