<nav class="navbar">
  <div class="burger icon" id="burgerMenu">
    <img src="./assets/images/icons/menu.svg" alt="Menu Icon" />
  </div>
  <div class="logo">
    <a href="./index.html">
      <img src="./assets/images/icons/logo.png" alt="Gaming Zone Logo"
    /></a>
  </div>
  <div class="search-container">
    <input type="text" placeholder="What game do you want to play?" />
    <button class="search-btn">
      <img src="./assets/images/icons/search.svg" alt="Search Icon" />
    </button>
  </div>
  <div class="icons">
    <div class="icon">
      <img src="./assets/images/icons/bell.svg" alt="Bell Icon" class="icon2" />
    </div>
    <div class="icon">
      <img
        src="./assets/images/icons/shopping-cart.svg"
        alt="Shopping Cart Icon"
      />
    </div>
    <div class="icon">
      <img src="./assets/images/icons/user.svg" alt="User Icon" />
    </div>
  </div>
</nav>
<div class="submenu" id="submenu">
  <ul>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-swords.png"
        alt="Action"
        class="icon-img"
      />
      Action
    </li>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-Multiplayer.png"
        alt="Multiplayer"
        class="icon-img"
      />
      Multiplayer
    </li>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-adventure.png"
        alt="Adventure"
        class="icon-img"
      />
      Adventure
    </li>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-strategy.png"
        alt="Strategy"
        class="icon-img"
      />
      Strategy
    </li>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-Soccer.png"
        alt="Soccer"
        class="icon-img"
      />
      Soccer
    </li>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-Gun.png"
        alt="Guns"
        class="icon-img"
      />
      Guns
    </li>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-Race.png"
        alt="Race"
        class="icon-img"
      />
      Race
    </li>
    <li>
      <img
        src="./assets/images/categoryIcons/Icon-Horror.png"
        alt="Horror"
        class="icon-img"
      />
      Horror
    </li>
    <li></li>
  </ul>
</div>
