<div class="container">
  <div class="carrousel-block__container">
    <div class="carrousel-block__category">
      <h2>
        <img
          src="./assets/images/categoryIcons/icon-fire.png"
          alt="Category icon"
          class="category-icon"
        />
        Trending Games
      </h2>
    </div>
    <div class="carrousel-block__carrousel" data-carousel-id="1">
      <button class="arrow left" onclick="moverCarrusel(-1, 1)">
        &#10094;
      </button>
      <div class="cards__container">
        <div class="card cardFree">
          <img
            src="./assets/images/gamesCards/trending/4inrow.png"
            alt="Four in a Row"
          />
          <div class="card__body">
            <h3>Four in a Row</h3>
            <p class="price">Free</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Play Free
              <img src="./assets/images/icons/play.svg" alt="Icon Cart" />
            </button>
          </div>
          <div class="ribbon">Free</div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/trending/half-lift.png"
            alt="Half-Life"
          />
          <div class="card__body">
            <h3>Half-Life</h3>
            <p class="price">$29.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card cardFree">
          <img
            src="./assets/images/gamesCards/trending/assasin-creed.png"
            alt="Assasin’s Creed"
          />
          <div class="card__body">
            <h3>Assasin’s Creed</h3>
            <p class="price">Free</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Play Free
              <img src="./assets/images/icons/play.svg" alt="Icon Cart" />
            </button>
          </div>
          <div class="ribbon">Free</div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/trending/gtaV.png"
            alt="Grand Theft Auto V: Premium Edition"
          />
          <div class="card__body">
            <h3>Grand Theft Auto V: Premium Edition</h3>
            <p class="price">$139.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/trending/dead-island2.png"
            alt="Dead Island 2 Gold Edition"
          />
          <div class="card__body">
            <h3>Dead Island 2 Gold Edition</h3>
            <p class="price">$50.00</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/trending/godofwar2.png"
            alt="God Of War II"
          />
          <div class="card__body">
            <h3>God Of War II</h3>
            <p class="price">$50.00</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/trending/wukong.png"
            alt="Black Myth Wukong"
          />
          <div class="card__body">
            <h3>Black Myth Wukong</h3>
            <p class="price">$34.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
      </div>
      <button class="arrow right" onclick="moverCarrusel(1, 1)">
        &#10095;
      </button>
    </div>
  </div>
  <div class="carrousel-block__container">
    <div class="carrousel-block__category">
      <h2>
        <img
          src="./assets/images/categoryIcons/Icon-adventure.png"
          alt="Category icon"
          class="category-icon"
        />
        Adventure Games
      </h2>
    </div>
    <div class="carrousel-block__carrousel" data-carousel-id="2">
      <button class="arrow left" onclick="moverCarrusel(-1, 2)">
        &#10094;
      </button>

      <div class="carrousel-block__carrousel">
        <div class="cards__container">
          <div class="card">
            <img
              src="./assets/images/gamesCards/adventure/baldur-gate3.png"
              alt="Baldur's Gate 3"
            />
            <div class="card__body">
              <h3>Baldur's Gate 3</h3>
              <p class="price">$39.99</p>
            </div>
            <div class="buttons">
              <button class="btn btn--wishlist btn--small btn--small-padding">
                <img
                  src="./assets/images/icons/plus-circle.svg"
                  alt="Plus circle"
                />
                Add to Wishlist
              </button>
              <button class="btn btn--main btn--small gameRedirect">
                Buy Now
                <img
                  src="./assets/images/icons/icon-carr.png"
                  alt="Icon Cart"
                />
              </button>
            </div>
          </div>
          <div class="card">
            <img
              src="./assets/images/gamesCards/adventure/spider-man.png"
              alt="Marvel’s Spider-Man Remastered"
            />
            <div class="card__body">
              <h3 title="Marvel’s Spider-Man Remastered long title">Marvel’s Spider-Man Remastered long title</h3>
              <p class="price">$39.99</p>
            </div>
            <div class="buttons">
              <button class="btn btn--wishlist btn--small btn--small-padding">
                <img
                  src="./assets/images/icons/plus-circle.svg"
                  alt="Plus circle"
                />
                Add to Wishlist
              </button>
              <button class="btn btn--main btn--small gameRedirect">
                Buy Now
                <img
                  src="./assets/images/icons/icon-carr.png"
                  alt="Icon Cart"
                />
              </button>
            </div>
          </div>
          <div class="card cardFree">
            <img
              src="./assets/images/gamesCards/adventure/ffxvi.png"
              alt="Final Fantasy XVI"
            />
            <div class="card__body">
              <h3>Final Fantasy XVI</h3>
              <p class="price">Free</p>
            </div>
            <div class="buttons">
              <button class="btn btn--wishlist btn--small btn--small-padding">
                <img
                  src="./assets/images/icons/plus-circle.svg"
                  alt="Plus circle"
                />
                Add to Wishlist
              </button>
              <button class="btn btn--main btn--small gameRedirect">
                Play Free
                <img src="./assets/images/icons/play.svg" alt="Icon Cart" />
              </button>
            </div>
            <div class="ribbon">Free</div>
          </div>
          <div class="card">
            <img
              src="./assets/images/gamesCards/adventure/monster-hunter.png"
              alt="Monster Hunter: World"
            />
            <div class="card__body">
              <h3>Monster Hunter: World</h3>
              <p class="price">$150.00</p>
            </div>
            <div class="buttons">
              <button class="btn btn--wishlist btn--small btn--small-padding">
                <img
                  src="./assets/images/icons/plus-circle.svg"
                  alt="Plus circle"
                />
                Add to Wishlist
              </button>
              <button class="btn btn--main btn--small gameRedirect">
                Buy Now
                <img
                  src="./assets/images/icons/icon-carr.png"
                  alt="Icon Cart"
                />
              </button>
            </div>
          </div>
          <div class="card">
            <img
              src="./assets/images/gamesCards/adventure/rust.png"
              alt="Rust"
            />
            <div class="card__body">
              <h3>Rust</h3>
              <p class="price">$50.00</p>
            </div>
            <div class="buttons">
              <button class="btn btn--wishlist btn--small btn--small-padding">
                <img
                  src="./assets/images/icons/plus-circle.svg"
                  alt="Plus circle"
                />
                Add to Wishlist
              </button>
              <button class="btn btn--main btn--small gameRedirect">
                Buy Now
                <img
                  src="./assets/images/icons/icon-carr.png"
                  alt="Icon Cart"
                />
              </button>
            </div>
          </div>
          <div class="card">
            <img
              src="./assets/images/gamesCards/adventure/dont-starve-together.png"
              alt="Don't Starve Together"
            />
            <div class="card__body">
              <h3>Don't Starve Together</h3>
              <p class="price">$50.00</p>
            </div>
            <div class="buttons">
              <button class="btn btn--wishlist btn--small btn--small-padding">
                <img
                  src="./assets/images/icons/plus-circle.svg"
                  alt="Plus circle"
                />
                Add to Wishlist
              </button>
              <button class="btn btn--main btn--small gameRedirect">
                Buy Now
                <img
                  src="./assets/images/icons/icon-carr.png"
                  alt="Icon Cart"
                />
              </button>
            </div>
          </div>
          <div class="card">
            <img
              src="./assets/images/gamesCards/adventure/read-dead-redemption2.png"
              alt="Red Dead Redemption 2"
            />
            <div class="card__body">
              <h3>Red Dead Redemption 2</h3>
              <p class="price">$34.99</p>
            </div>
            <div class="buttons">
              <button class="btn btn--wishlist btn--small btn--small-padding">
                <img
                  src="./assets/images/icons/plus-circle.svg"
                  alt="Plus circle"
                />
                Add to Wishlist
              </button>
              <button class="btn btn--main btn--small gameRedirect">
                Buy Now
                <img
                  src="./assets/images/icons/icon-carr.png"
                  alt="Icon Cart"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="arrow right" onclick="moverCarrusel(1, 2)">
        &#10095;
      </button>
    </div>
  </div>
  <div class="carrousel-block__container">
    <div class="carrousel-block__category">
      <h2>
        <img
          src="./assets/images/categoryIcons/Icon-swords.png"
          alt="Category icon"
          class="category-icon"
        />
        Action Games
      </h2>
    </div>
    <div class="carrousel-block__carrousel" data-carousel-id="3">
      <button class="arrow left" onclick="moverCarrusel(-1, 3)">
        &#10094;
      </button>
      <div class="cards__container">
        <div class="card">
          <img
            src="./assets/images/gamesCards/action/gtavi.jpg"
            alt="Grand Theft Auto VI"
          />
          <div class="card__body">
            <h3>Grand Theft Auto VI</h3>
            <p class="price">$39.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/action/assassins-creed-shadows.jpg"
            alt="Assassin's Creed Shadows"
          />
          <div class="card__body">
            <h3>Assassin's Creed Shadows</h3>
            <p class="price">$29.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card cardFree">
          <img
            src="./assets/images/gamesCards/action/assasing-creed.png"
            alt="Assasin’s Creed"
          />
          <div class="card__body">
            <h3>Assasin’s Creed</h3>
            <p class="price">Free</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Play Free
              <img src="./assets/images/icons/play.svg" alt="Icon Cart" />
            </button>
          </div>
          <div class="ribbon">Free</div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/action/gtaV.png"
            alt="Grand Theft Auto V: Premium Edition"
          />
          <div class="card__body">
            <h3>Grand Theft Auto V: Premium Edition</h3>
            <p class="price">$29.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/action/call-of-duty.jpg"
            alt="Call of Duty: Black Ops 6"
          />
          <div class="card__body">
            <h3>Call of Duty: Black Ops 6</h3>
            <p class="price">$29.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/action/stalker2.jpg"
            alt="S.T.A.L.K.E.R. 2: Heart of Chernobyl"
          />
          <div class="card__body">
            <h3>S.T.A.L.K.E.R. 2: Heart of Chernobyl</h3>
            <p class="price">$29.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/action/indianajones.jpg"
            alt="Indiana Jones Great Circle"
          />
          <div class="card__body">
            <h3>Indiana Jones Great Circle</h3>
            <p class="price">$29.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
      </div>
      <button class="arrow right" onclick="moverCarrusel(1, 3)">
        &#10095;
      </button>
    </div>
  </div>
  <div class="carrousel-block__container">
    <div class="carrousel-block__category">
      <h2>
        <img
          src="./assets/images/categoryIcons/Icon-strategy.png"
          alt="Category icon"
          class="category-icon"
        />
        Strategy Games
      </h2>
    </div>

    <div class="carrousel-block__carrousel" data-carousel-id="4">
      <button class="arrow left" onclick="moverCarrusel(-1, 4)">
        &#10094;
      </button>

      <div class="cards__container">
        <div class="card">
          <img
            src="./assets/images/gamesCards/strategy/the-precinct-dxnzu.png"
            alt="The Precinct"
          />
          <div class="card__body">
            <h3>The Precinct</h3>
            <p class="price">$39.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/strategy/satisfactory.jpg"
            alt="Satisfactory"
          />
          <div class="card__body">
            <h3>Satisfactory</h3>
            <p class="price">$29.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card cardFree">
          <img
            src="./assets/images/gamesCards/strategy/commandos-origins-4f9pf.jpg"
            alt="Commandos"
          />
          <div class="card__body">
            <h3>Commandos</h3>
            <p class="price">Free</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Play Free
              <img src="./assets/images/icons/play.svg" alt="Icon Cart" />
            </button>
          </div>
          <div class="ribbon">Free</div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/strategy/memoriapolis.jpeg"
            alt="Memoriapolis"
          />
          <div class="card__body">
            <h3>Memoriapolis</h3>
            <p class="price">$139.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/strategy/tropico4.jpg"
            alt="Tropico 4"
          />
          <div class="card__body">
            <h3>Tropico 4</h3>
            <p class="price">$50.00</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/strategy/minecraft.jpg"
            alt="Minecraft"
          />
          <div class="card__body">
            <h3>Minecraft</h3>
            <p class="price">$50.00</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/images/gamesCards/strategy/frospunk2.jpg"
            alt="Frostpunk 2"
          />
          <div class="card__body">
            <h3>Frostpunk 2</h3>
            <p class="price">$34.99</p>
          </div>
          <div class="buttons">
            <button class="btn btn--wishlist btn--small btn--small-padding">
              <img
                src="./assets/images/icons/plus-circle.svg"
                alt="Plus circle"
              />
              Add to Wishlist
            </button>
            <button class="btn btn--main btn--small gameRedirect">
              Buy Now
              <img src="./assets/images/icons/icon-carr.png" alt="Icon Cart" />
            </button>
          </div>
        </div>
      </div>
      <button class="arrow right" onclick="moverCarrusel(1, 4)">
        &#10095;
      </button>
    </div>
  </div>
</div>
