.carrousel-block__container {
  position: relative;
  padding: 0px 40px;
}

.carrousel-block__category {
  display: flex;
  align-items: center;
  max-width: 82%;
  margin: 25px 14px;
}

.carrousel-block__category .category-icon {
  height: 33px;
  width: 33px;
  margin-right: 5px;
  vertical-align: sub;
}

.carrousel-block__category h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  margin: 0;
  color: #000000;
}

.carrousel-block__carrousel {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cards__container {
  display: flex;
  width: 1040px;
  transition: transform 0.5s ease-in-out;
}

.cards__container .card {
  background: #222222;
  border-radius: 8px;
  width: 300px;
  height: 276px;
  margin: 15px;
  color: white;
  transition: transform 0.3s ease;
  min-width: 300px;
  user-select: none;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .cards__container .card{
    min-width: 270px;
  }
}
.card__body {
  padding: 5px 10px;
}

.card img {
  width: 100%;
  height: 147px;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  margin: unset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .price {
  font-weight: bold;
  color: #ffffff;
  margin: unset;
}

.card .buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card.cardFree {
  position: relative;
  overflow: hidden;
}

.ribbon {
  position: absolute;
  top: 47px;
  right: -29px;
  background-color: #3c6160;
  color: white;
  padding: 12px 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transform: rotate(32deg);
  transform-origin: top right;
  text-transform: uppercase;
}

.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #333;
}

.arrow.left {
  position: absolute;
  left: 10px;
}

.arrow.right {
  position: absolute;
  right: 10px;
}
