<div class="gameScreen">
  <h2>4 in Line</h2>
  <p>Home > My Games > 4 In Line</p>
  <div class="main-container">
    <div class="content">
      <h2>Game placeholder</h2>
    </div>
    <div class="list-container">
      <h4>How to play?</h4>
      <p>Connect Four Game Instructions</p>
      <ol>
        <li>
          <strong>Objective:</strong> Your goal is to connect four of your
          pieces in a row, either horizontally, vertically, or diagonally,
          before your opponent does.
        </li>
        <li>
          <strong>Setup:</strong> The game is played on a grid with six rows and
          seven columns.
        </li>
        <li>
          <strong>Movement:</strong>
          <ol>
            <li>
              Use the left and right arrow keys to move the falling piece to the
              desired column.
            </li>
            <li>
              Press the down arrow key to drop the piece into the selected
              column.
            </li>
          </ol>
        </li>
        <li>
          <strong>Gameplay:</strong>
          <ol>
            <li>
              Pieces fall from the top of the column and automatically drop to
              the lowest available spot.
            </li>
            <li>
              Each player takes turns to drop their colored pieces into the
              columns.
            </li>
          </ol>
        </li>
        <li>
          <strong>Winning:</strong> The first player to connect four of their
          pieces in a row wins the game.
        </li>
        <li>Enjoy playing!</li>
      </ol>
    </div>
  </div>
  <div class="block-container">
    <div class="block category-rate">
      <div class="category-left">
        <img
          src="./assets/images/categoryIcons/icon-strategy.png"
          alt="Category"
          class="category-image"
        />
        <span class="category-name">Strategy</span>
      </div>
      <div class="category-right">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9734;</span>
        <small> (4.0)</small>
      </div>
    </div>
    <div class="block">
      <h3>Game Conceh3t: "Heroes vs. Villains: Connect Four Showdown"</h3>
      <p>
        Overview: In "Heroes vs. Villains: Connect Four Showdown," players
        engage in a thrilling battle between iconic heroes and notorious
        villains. The game features vibrant, themed visuals and exciting
        gameplay where strategy is key to achieving victory. Choose your
        side—whether you’re a hero with noble intentions or a villain with a
        cunning plan—and connect four of your pieces in a row to claim ultimate
        supremacy.
      </p>
      <a href="#" class="help-link">Help Link</a>
    </div>
    <div class="block game__images">
      <img
        src="./assets/images/gameImages/4inlineimage1.png"
        alt="Game image1"
      />
      <img
        src="./assets/images/gameImages/4inlineimage2.png"
        alt="Game image2"
      />
    </div>
    <div class="block">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/YqqcNjQMX18?si=RXaT9KCe-KgETdKy"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="comments-section">
      <div class="comments-block">
        <h4>Write a review for 4 in Line</h4>
        <p>
          Please describe what you liked or disliked about this game and wheter
          you recommend it to others
        </p>
        <div class="comment-container">
          <div class="image-column">
            <img
              src="./assets/images/comments/userExample.png"
              alt="User image"
              class="comment-image"
            />
          </div>
          <div class="textarea-column">
            <textarea
              placeholder="Escribe tu comentario aquí..."
              class="comment-textarea"
            ></textarea>
            <p class="comment-note">Do you reommend this game?</p>
            <div class="feedback-container">
              <div class="buttons">
                <div class="like">
                  <img
                    src="./assets/images/icons/like.svg"
                    alt="Like"
                    class="like-icon"
                  />
                  <span>Yes</span>
                </div>
                <div class="dislike">
                  <img
                    src="./assets/images/icons/dislike.svg"
                    alt="Dislike"
                    class="dislike-icon"
                  />
                  <span>No</span>
                </div>
              </div>
              <button class="post-review">Post Review</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="old-comments-section">
    <h4>CUSTOMER REVIEWS FOR 4 IN LINE</h4>
    <div class="old-comments-columns">
      <div class="left-column">
        <h3>Overall Reviews:</h3>
        <p class="large-green">Very Positive</p>
        <small class="black">(1,541 reviews)</small>
      </div>
      <div class="right-column">
        <h3>Recent Reviews:</h3>
        <p class="large-green">Mostly Positive</p>
        <small>(41 reviews)</small>
      </div>
    </div>

    <p class="large-text">
      Showing 1,836 reviews that match the filters above ( Very Positive )
    </p>
    <hr />

    <div class="sub-columns">
      <div class="first-sub-column">
        <h4>MOST HELPFUL REVIEWS</h4>
        <h4 class="light-green">IN THE PAST 30 DAYS</h4>

        <div class="comment-block">
          <div class="comment-left">
            <img
              src="./assets/images/comments/exampleUser.png"
              alt="User image"
              class="small-image"
            />
            <div>
              <p>GamerPro99</p>
              <p>984 products in account</p>
              <p>26 reviews</p>
            </div>
          </div>
          <div class="comment-right">
            <div class="comment-header">
              <img
                src="./assets/images/icons/like.svg"
                alt="Like"
                class="like-icon"
              />
              <h4 class="header-text">Recommended</h4>
              <p class="smaller-text">13.7hs on record</p>
              <span class="star">★</span>
            </div>
            <p class="small-title">POSTED 17 SEPTEMBER</p>
            <p>
              Don't let the negative reviews dissuade you. Blue Fire is good.
              Really damn good I'd say. It has some jank and some issues but I
              still think it's worth playing through, especially at a sale. Also
              play on a controller if you can, I think it makes things a lot
              easier.
            </p>
            <p>
              If you like 3D platformers and Zelda-like adventures, then Blue
              Fire's gonna hook you up real good. You're gonna be dashing
              throughout the world, picking up items, equipment, cosmetics and
              that key that's gonna unlock the next area along the way. The boss
              temple design is straight up classic Zelda. Now the puzzles and
              the combat aren't anything to write home about. They're
              serviceable. IMO, the platforming takes center stage. After you
              start getting special items and building out your moveset, the
              sky's the limit. By the end, I was combo-ing 3 high jumps, two
              dashes and still being able to wall climb on top of that. However,
              it is a bit of a shame the environments are mostly linear or after
              one exploration don't offer a ton more to find. But the voids,
              basically Super Mario Sunshine-esque platforming challenges, make
              up for that imo.
            </p>
            <hr />
            <p>Was this review helpful?</p>
            <div class="buttons">
              <div class="like">
                <img
                  src="./assets/images/icons/like.svg"
                  alt="Like"
                  class="like-icon"
                />
                <span>Yes</span>
              </div>
              <div class="dislike">
                <img
                  src="./assets/images/icons/dislike.svg"
                  alt="Dislike"
                  class="dislike-icon"
                />
                <span>No</span>
              </div>
            </div>
            <p>18 people found this review helpful</p>
          </div>
        </div>
      </div>

      <div class="second-sub-column">
        <h4>RECENTLY POSTED</h4>

        <div class="dark-violet-background recent-comment">
          <div class="header">
            <img
              s
              src="./assets/images/icons/like.svg"
              alt="Like"
              class="like-icon"
            />
            <span>AnotherUserxd</span>
            <small>2.1hrs</small>
            <span class="star">★</span>
          </div>
          <p class="title">POSTED 18 SEPTEMBER</p>
          <p class="comment">
            Civilization continues to simply be a staple of any strategy game
            enthusiast. It's clean UI addicitive gameplay, and pleasing
            atmosphere are second to none. When CIV VI was released some years
            ago there were complaints about the stylistic and mechanic choices
            of this game. I feel well qualified to say that these changes helped
            the game stand out during its lifespan, and breathed life into the
            series as it moves into the future.
          </p>
          <small>Helpful?</small>
          <div class="buttons">
            <div class="like">
              <img
                src="./assets/images/icons/like.svg"
                alt="Like"
                class="like-icon"
              />
              <span>Yes</span>
            </div>
            <div class="dislike">
              <img
                src="./assets/images/icons/dislike.svg"
                alt="Dislike"
                class="dislike-icon"
              />
              <span>No</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
